body {
    font: 16px sans-serif;
}

.wrapper {
    width: 350px;
    padding: 20px;
}
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;


}
